{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="m-auto col-3">
		<h1>
			Réinitialisation mot de passe
		</h1>
		{% for message in app.flashes('info') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
		</div>
	{% endblock %}
