{% extends 'base.html.twig' %}

{% block title %}Ajout d'une formation
{% endblock %}

{% block body %}

	{% if editMode %}
		<h1 class="text-center m-3">Modification d'une formation</h1>
	{% else %}
		<h1 class="text-center m-3">Ajout d'une formation</h1>
	{% endif %}
	<div class="m-auto col-3">
		{{ form(formAddFormation) }}
		<button class="btn btn-info">
			<a class="text-white text-center" href="{{ path('formation_index') }}"><i class="fas fa-undo"></i></a>
		</button>
		</div>
	{% endblock %}