{% extends 'base.html.twig' %}

{% block title %}Ajout d'une formation
{% endblock %}

{% block body %}

	{% if editMode %}
		<h1>Modification d'une formation</h1>
	{% else %}
		<h1>Ajout d'une formation</h1>
	{% endif %}
	{{ form(formAddFormation) }}
    
{% endblock %}
