{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="text-info m-5 text-center">Prochaines sessions:</h1>

		<div class="card-columns">
			{% for session in sessions %}
				<div class="card p-3">
					<div class="card-body">
						<a class="nav-link" href="{{ path('session_show', {id: session.id}) }}">
							<h4 class="card-title text-body">{{ session }}</h4>
						</a>
						<p class="card-text">
							<ul>
								<li>nombre de places :
									{{ session.nbPlaces }}
								</li>
							</ul>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
