{% extends 'base.html.twig' %}

{% block title %}Ajout stagiaire{% endblock %}

{% block body %}
  {% if editMode %}
    <h1>Modification d'un stagiaire</h1>
  {% else %}
<h1>Ajout d'un stagiaire</h1>
  {% endif %}
{# <div class="m-auto col-3"> #}
{{ form(formAddStagiaire) }}
{# </div> #}
{% endblock %}