{% extends 'base.html.twig' %}

{% block title %}Ajout stagiaire
{% endblock %}

{% block body %}
	{% if editMode %}
		<h1 class="text-center m-3">Modification d'un stagiaire</h1>
	{% else %}
		<h1 class="text-center m-3">Ajout d'un stagiaire</h1>
	{% endif %}
	<div class="m-auto col-3">
		{{ form(formAddStagiaire) }}
				<button class="btn btn-info">
			<a class="text-white" href="{{ path('stagiaire') }}"><i class="fas fa-undo"></i></a>
		</button>


		</div>
	{% endblock %}
