{% extends 'base.html.twig' %}

{% block title %}Ajout session
{% endblock %}

{% block body %}
	{% if editMode %}
		<h1 class="text-center m-3">Modification d'une session</h1>
	{% else %}
		<h1 class="text-center m-3">Ajout d'une session</h1>
	{% endif %}
	<div class="m-auto col-3">
		{{ form(formAddSession) }}
		</div>
	{% endblock %}
