{% extends 'base.html.twig' %}

{% block title %}Ajout inscription
{% endblock %}

{% block body %}
	{# {{ dump(stagiaire)}} #}
	<h1 class="text-center m-3">Inscription pour la session
		{{ session }}</h1>
	<div class="m-auto col-3">
		{{ form(formInscription) }}
		</div>
	{% endblock %}
