{% extends 'base.html.twig' %}

{% block title %}Ajout d'une formation
{% endblock %}

{% block body %}

	{% if editMode %}
		<h1 class="text-center m-3">Modification d'une catégorie</h1>
	{% else %}
		<h1 class="text-center m-3">Ajout d'une catégorie</h1>
	{% endif %}
	<div class="m-auto col-3">
		{{ form(formAddCategorie) }}
		</div>
	{% endblock %}
